.grafico
{
    position: relative;
    width: 200px;
    border: 1px solid #7F0EFF;
    padding: 2px;
}

.grafico .barra
{
    display: block;
    position: relative;
    background: #7F0EFF;
    text-align: center;
    color: white;
    height: 2em;
    line-height: 2em;
}

.grafico .barra span
{
    position: absolute;
    left: 1em;
}